# Postgres
POSTGRES_USER=prefect
POSTGRES_PASSWORD=prefect

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_ENDPOINT=minio:9000

# Sample data
DATA_SAMPLE_URL=https://dadosabertos.ans.gov.br/FTP/PDA/informacoes_consolidadas_de_beneficiarios-024/202508/pda-024-icb-TO-2025_08.zip

# Prefect
PREFECT_API_URL=http://prefect-server:4200/api
PREFECT_API_DATABASE_CONNECTION_URL=postgresql+asyncpg://prefect:prefect@prefect-db:5432/prefect
